.headerRow {
  header {
    max-width: 100%;
    border-bottom: 2rem solid white;
    box-shadow: none;

    .logo {
      font-size: 60px;
      font-weight: bolder;
      margin-right: 2rem;
      text-decoration: none;
      color: antiquewhite;
    }
    .link {
      font-size: 25px;
      color: whitesmoke;
      text-decoration: none;
      font-weight: 600;
      margin-left: 2rem;
    }
    .link:hover {
      text-decoration: overline;
    }
  }
}
